<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>

    <!-- Favicon -->
    <%= partial 'partials/favicon' %>
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>

    <!-- Viewport, set to device width -->
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name="google-site-verification" content="vG3chRW_V2wGrc9qlrMT9v65BJdYBVMrjtAueAPmhD8" />
    
    <!-- Meta data -->
    <%= partial 'partials/meta' %>
    
    <%= stylesheet_link_tag 'styles' %>
  </head>
  
  <body class='<%= page_classes %>'>
    <%= partial 'partials/header' %>
    <main class='wrapper'>
      <%= yield %>
    </main>
    <%= partial 'partials/footer' %>
  </body>
</html>