<h1 class='intro'>Hi, I'm Lauren.</h1>
<p>I'm a designer and front-end developer who is passionate about making the web both beautiful and usable. I am currently crafting experiences at <%= link_to "Cardinal Solutions", data.about.cardinal %> in the beautiful city of Columbus, Ohio. When my eyes aren't glued to a screen, I enjoy cycling, attending an insane amount of concerts and traveling as often as possible.</p>
<p>You can find me on <%= link_to "Twitter", data.about.twitter %>, <%= link_to "CodePen", data.about.codepen %>, <%= link_to "Dribbble", data.about.dribbble %>, <%= link_to "GitHub", data.about.github %>, and <%= link_to "Soundcloud", data.about.soundcloud %>.</p>
