---
title: "Front-End Developer & Designer"
title_reverse: true
description: "I'm a designer and front-end developer who is passionate about making the web both beautiful and usable."
---

<section class='about'>
  <%= partial "partials/about" %>
</section>

<section id='work' class='float-left'>
  <%= partial 'partials/work' %>
</section>

<section id='contributions' class='float-left'>
  <%= partial 'partials/contributions' %>
</section>

<section id='writing' class='float-left clear-left'>
  <%= partial 'partials/writing' %>
</section>

<section id='elsewhere' class='float-left'>
  <%= partial 'partials/elsewhere' %>
</section>